<%= simple_form_for([@course, @task], :html => { :class => 'form-horizontal' }) do |f| %>
<%= f.input :name %>
<%= f.input :start_date, label_html: {for: 'task_start_date'} %>
<%= f.input :category %>
<div class="control-group">
	<div class="controls">
		<%= f.button :submit, :class => 'btn-primary' %>
	</div>
</div>
<% end %>

