- if course.sections_enabled?
	= form_for(current_user.enrollments.new) do |f|
		= f.hidden_field :section_id
		.btn-group
			%button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
				Enroll
				%span.caret
			%ul.dropdown-menu
				- course.sections.each do |section|
					%li
						%a{href: "#", onclick: "enroll_to_section(#{section.id})"}= "Section #{section.code}"
- else
	= form_for(current_user.enrollments.build(section_id: course.sections.first.id)) do |f|
		= f.hidden_field :section_id
		= f.submit "Enroll", class: "btn btn-primary"