<%= simple_form_for(@course, :html => { :class => 'form-horizontal' }) do |f| %>
<%= f.input :name %>
<%= f.input :school %>
<%= f.input :instructor %>
<div class="control-group">
	<div class="controls">
		<%= f.button :submit, :class => 'btn-primary' %>
	</div>
</div>
<% end %>

