%fieldset
	.row
		.span6
			= f.input(:id, as: :hidden)
			= f.input(:code)
			= f.input :_destroy, :as => :hidden
			=	link_to "#{icon('remove', white: true)} Remove Section".html_safe, '#', class: 'btn btn-danger btn-small remove_fields controls'

		.span6#time_slot_fields
			= f.fields_for :time_slots do |builder|
				= render 'time_slot_fields', f: builder

			= link_to_add_fields "Time Slot", f, :time_slots

	%hr