<div class="page-header">
	<div class="row">
		<div class="span11">
			<h1><%= @course.name %><small> by <%= @course.instructor %></small></h1>
		</div>
		<div class="span1">
			<%= render 'enrollment_form' if signed_in? %>
		</div>
	</div>
</div>

<ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#folder" data-toggle="tab">Folder</a></li>
	<li><a href="#schedule" data-toggle="tab">Schedule</a></li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="folder">
		<p></p>
	</div>
	<div class="tab-pane fade" id="schedule">
		<%= button_to "Create a new task", new_course_task_path(@course), class: "btn", method: "get" if current_user.enrolled? @course %>
		<div class="row">
			<div class="span3">
				<%= render 'course_tasks_table' %>
			</div>
		</div>
	</div>
</div>
