.page-header
	.row
		.span10
			%h1
				= "#{@course.name}"
				%small= "by #{@course.instructor_name}"
		.span1
			%h1
				= render 'enrollment_form', course: @course
		.span1
			%h1
				%a.btn.btn-primary{:href => edit_course_path(@course)}
					= icon('wrench', white: true)

.row
	.span3
		= link_to "#{icon('plus', white: true)} Create a new task".html_safe, new_course_task_path(@course), class: "btn btn-info" if current_user.enrolled_to_course? @course

%br

.row
	.span3
		= render 'course_tasks_table'
